body {
	background-color: rgb(255, 255, 255);
}

#contacts {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 6px;
}

.contactList {
	background-color: rgb(255, 255, 255);
	border-bottom-style: solid;
	border-bottom-color: rgb(210, 210, 210);
	border-bottom-width: 1px;
	height: 60px;
	padding-top: 10px;
	line-height: 20px;
	visibility: hidden;
}

.profilLocation {
	float: right;
	padding-right: 5px;
	font-size: 14;
	color: rgb(200, 200, 200);
}

.profileText {
	padding-top: 10px;
	list-style-type: none;
}

.profilName {
	padding-top: 10px;
	padding-left: 55px;
	font-weight: bold;
}

.statusElements {
	padding-left: 55px;
}

.profilStatus {
	font-size: 14px;
	color: rgb(210, 210, 210);
	white-space: nowrap;
}

.statusIcon {
	max-height: 14px;
	max-width: auto;
	float: right;
}

.go {
	max-height: 14px;
	max-width: auto;
	-webkit-transform: rotate(180deg);
	float: right;
	margin-top: 4px;
}

.contactLocation {
	text-indent: 15px; /*vänsterjustering*/
	text-align: left;
	font-size: 13px;
}

.profilInfo {
	text-indent: 15px;
	font-size: 13px;
}

.allProfileInfo {
	list-style-type: none;
}

.profilePicture {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	background-image: url(https://s3-eu-west-1.amazonaws.com/meetin/default.jpg);
	background-size: contain;
}

#contact10 {
	border-bottom-style: none;
	border-bottom-color: none;
	border-bottom-width: none;
}

/* Provide different styling for iOS 7. */
body.wl_ios7 {
	padding-top: 0 !important;
}

.wl_ios7 #contacts {
	padding-top: 9px;
}