body {
	background-color: rgb(235, 240, 235);
}

.meetIn {
	margin-top: 15px;
	background-color: rgb(255, 255, 255);
	witdh: 100%;
	height: 60px;
	font-size: 16px;
	border-top-style: solid;
	border-top-color: rgb(210, 210, 210);
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(210, 210, 210);
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-color: rgb(210, 210, 210);
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(210, 210, 210);
	border-right-width: 1px;
	display: none;
}

#meetInView {
	margin-top: 30px;
}
.deleteBtn {
	max-height: 30px;
	max-width: auto;
	float: right;
	margin: 15px 0 0 0;
}

.expandArrow {
	max-height: 30px;
	max-width: auto;
	-webkit-transition: 400ms;
	float: right;
	margin: 15px 0 0 0;
}

.meetInfo {
	margin-left: 40%;
	margin-top: 40px;
}

.meetIcon {
	max-height: 50px;
	max-width: auto;
	float: left;
	padding: 5px 0 5px 15px;
}

.meetTime {
	text-align: left;
	font-size: 13px;
	color: rgb(190, 190, 190);
	margin-left: 70px;
	margin-top: 5px;
}

.meetTitle {
	text-align: left;
	font-size: 13px;
	color: rgb(190, 190, 190);
	margin-left: 70px;
}

.meetReply {	
	text-align: left;
	font-size: 13px;
	color: rgb(190, 190, 190);
	margin-left: 70px;
}

.reply-menu {
	visibility: hidden;
	padding-top: 28px;
	padding-left: 15px;
	left: 0;
	list-style-type: none;
	text-align: left;
	/*
	margin: 20px 0 0 0;*/
}

.attendBtn {
	/*font: normal normal normal 1em/1.2em Arial, sans-serif;
	padding:0.60em 0 0.8em 2.5em; flyttaNerText ? avståndNedåt avståndVänster*/
  	margin-bottom: 25px;
  	padding-left: 25px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	text-indent:0.4em; /*vänster justering*/
  	font-weight:bold;
  	list-style:none;
  	background-repeat:no-repeat;
  	color: rgb(110, 110, 110);
}

.maybeBtn {
	/*font: normal normal normal 1em/1.2em Arial, sans-serif;
	padding:0.60em 0 0.8em 2.5em; flyttaNerText ? avståndNedåt avståndVänster*/
  	margin-bottom: 25px;
  	padding-left: 25px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	text-indent:0.4em;
  	font-weight:bold;
  	list-style:none;
  	background-repeat:no-repeat;
  	color: rgb(110, 110, 110);
}

.notAttendBtn {
	/*font: normal normal normal 1em/1.2em Arial, sans-serif;
	padding:0.60em 0 0.8em 2.5em; flyttaNerText ? avståndNedåt avståndVänster*/
  	margin-bottom: 25px;
  	padding-left: 25px;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	text-indent:0.4em;
  	font-weight:bold;
  	list-style:none;
  	background-repeat:no-repeat;
  	color: rgb(110, 110, 110);
}

.inviteList {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 90%;
	height: 105px;
	border-top-style: solid;
	border-top-color: rgb(210, 210, 210);
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(210, 210, 210);
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-color: rgb(210, 210, 210);
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(210, 210, 210);
	border-right-width: 1px;
	background-color: rgb(240, 245, 240);
	/*opacity: 0.5;*/
	visibility: hidden;
}

.host {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	line-height: 30px;
	text-indent: 35px;
	color: rgb(110, 110, 110);
	font-weight: bold;
	white-space: nowrap;
	/**/
}

.invite {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	line-height: 30px;
	text-indent: 35px;
	color: rgb(110, 110, 110);
	font-weight: bold;
	margin-top: 10px;
	white-space: nowrap;
	display: none;
}

/* Provide different styling for iOS 7. */
body.wl_ios7 {
	padding-top: 0 !important;
}

.wl_ios7 #contacts {
	padding-top: 9px;
}