body {
	background-color: rgb(235, 240, 235);
}

#meetings {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-top: 15px;
}

.meetingList {
	margin: 0;
	background-color: rgb(255, 255, 255);
	border-bottom-style: solid;
	border-bottom-color: rgb(210, 210, 210);
	border-bottom-width: 2px;
	height: 60px;
	padding-top: 10px;
	line-height: 20px;
	visibility: hidden;
	white-space: nowrap;
}

.meetExtension {
	margin: 0;
	padding-top: 10px;
	height: 0;
	line-height: 0;
	-webkit-trasition: 400ms;
	display: none;
	border-bottom-style: solid;
	border-bottom-color: rgb(210, 210, 210);
	border-bottom-width: 2px;
}

.meetingInfo {
	margin: 0;
	/*text-indent: 15px;*/
	font-size: 13px;
	padding: 0 0 0 15px;
}

.allMeetingInfo {
	list-style-type: none;
}

.meetingPicture {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	background-image: url(https://s3-eu-west-1.amazonaws.com/meetin/default.jpg);
	background-size: contain;
}

#meeting10 {
	border-bottom-style: none;
	border-bottom-color: none;
	border-bottom-width: none;
}

.dots {
	right: 0;
	padding: 10px 20px 0 0;
	position: absolute;
	z-index: 0;
}

.settingTime {
	margin: 0;
	padding: 5px 0 0 20px;
}

.timePicker {
	margin-left: 14px;
}

.settingRoom {
	margin: 0;
	padding: 5px 0 0 20px;
}

.slettBtn {
	margin: 0;
	float: left;
	padding: 15px 0 0 20px;
	font-weight:bold;
	color: rgb(240, 128, 128);
}

.okBtn {
	margin: 0;
	float: right;
	padding: 15px 20px 0 0;
	font-weight:bold;
	color: rgb(102, 193, 170);
}

/* Provide different styling for iOS 7. */
body.wl_ios7 {
	padding-top: 0 !important;
}

.wl_ios7 #contacts {
	padding-top: 9px;
}